<div class="card client-card d-flex flex-row col-md-3 p-0">
	<div class="sidebar p-2">
		<svg xmlns="http://www.w3.org/2000/svg" class="mb-3 mt-2" x="0px" y="0px" width="32" height="32" viewbox="0 0 172 172" style=" fill:#000000;">
			<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
				<path d="M0,172v-172h172v172z" fill="none"></path>
				<g>
					<circle cx="16" cy="16" transform="scale(5.375,5.375)" r="16" fill="#ecf0f1"></circle>
					<circle cx="16" cy="10" transform="scale(5.375,5.375)" r="7" fill="#1abc9c"></circle>
					<path d="M86,107.5c-27.86292,0 -53.6554,11.67235 -68.327,30.51226c16.20555,21.42393 41.52132,34.00668 68.38401,33.98904c26.86269,-0.01764 52.16192,-12.63361 68.33932,-34.07881c-14.65333,-18.90495 -40.15286,-30.4225 -68.39634,-30.4225z" fill="#1abc9c"></path>
				</g>
			</g>
		</svg>ACTEUR
	</div>
	<div class="card-content d-flex flex-column ">
		<div class="card-title name bg-light p-2 py-3 fs-5">{{ client.firstname }}
			{{ client.lastname }}</div>

		<ul class="list-group list-group-flush px-3 my-4 align-self-center informations rounded-3 text-light">
			<li class="list-group-item text-light">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewbox="0 0 172 172" style=" fill:#000000;">
					<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
						<path d="M0,172v-172h172v172z" fill="none"></path>
						<g fill="#fffdf9">
							<path d="M86,14.33333c-39.5815,0 -71.66667,32.08517 -71.66667,71.66667c0,39.5815 32.08517,71.66667 71.66667,71.66667c39.5815,0 71.66667,-32.08517 71.66667,-71.66667c0,-39.5815 -32.08517,-71.66667 -71.66667,-71.66667zM78.83333,122.34217l-10.75,-10.75l25.59217,-25.59217l-25.59217,-25.59217l10.75,-10.75l36.34217,36.34217z"></path>
						</g>
					</g>
				</svg>
				Né(e) le
				{{client.dateOfBirth|date('d-m-Y')}}</li>
			<li class="list-group-item text-light">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewbox="0 0 172 172" style=" fill:#000000;">
					<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
						<path d="M0,172v-172h172v172z" fill="none"></path>
						<g fill="#fffdf9">
							<path d="M86,14.33333c-39.5815,0 -71.66667,32.08517 -71.66667,71.66667c0,39.5815 32.08517,71.66667 71.66667,71.66667c39.5815,0 71.66667,-32.08517 71.66667,-71.66667c0,-39.5815 -32.08517,-71.66667 -71.66667,-71.66667zM78.83333,122.34217l-10.75,-10.75l25.59217,-25.59217l-25.59217,-25.59217l10.75,-10.75l36.34217,36.34217z"></path>
						</g>
					</g>
				</svg>
				{{client.city}}
				({{client.country}})</li>
			<li class="list-group-item text-light">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewbox="0 0 172 172" style=" fill:#000000;">
					<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
						<path d="M0,172v-172h172v172z" fill="none"></path>
						<g fill="#fffdf9">
							<path d="M86,14.33333c-39.5815,0 -71.66667,32.08517 -71.66667,71.66667c0,39.5815 32.08517,71.66667 71.66667,71.66667c39.5815,0 71.66667,-32.08517 71.66667,-71.66667c0,-39.5815 -32.08517,-71.66667 -71.66667,-71.66667zM78.83333,122.34217l-10.75,-10.75l25.59217,-25.59217l-25.59217,-25.59217l10.75,-10.75l36.34217,36.34217z"></path>
						</g>
					</g>
				</svg>
				Acteur</li>
			{% for quote in client.quotes %}
				<li class="list-group-item text-light fst-italic">
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewbox="0 0 172 172" style=" fill:#000000;">
						<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
							<path d="M0,172v-172h172v172z" fill="none"></path>
							<g fill="#fffdf9">
								<path d="M86,14.33333c-39.5815,0 -71.66667,32.08517 -71.66667,71.66667c0,39.5815 32.08517,71.66667 71.66667,71.66667c39.5815,0 71.66667,-32.08517 71.66667,-71.66667c0,-39.5815 -32.08517,-71.66667 -71.66667,-71.66667zM78.83333,122.34217l-10.75,-10.75l25.59217,-25.59217l-25.59217,-25.59217l10.75,-10.75l36.34217,36.34217z"></path>
							</g>
						</g>
					</svg>
					{{quote.quote}}</li>
			{% endfor %}
			{% for appointment in client.appointments %}
				<li class="list-group-item text-light fst-italic">
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewbox="0 0 172 172" style=" fill:#000000;">
						<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
							<path d="M0,172v-172h172v172z" fill="none"></path>
							<g fill="#fffdf9">
								<path d="M86,14.33333c-39.5815,0 -71.66667,32.08517 -71.66667,71.66667c0,39.5815 32.08517,71.66667 71.66667,71.66667c39.5815,0 71.66667,-32.08517 71.66667,-71.66667c0,-39.5815 -32.08517,-71.66667 -71.66667,-71.66667zM78.83333,122.34217l-10.75,-10.75l25.59217,-25.59217l-25.59217,-25.59217l10.75,-10.75l36.34217,36.34217z"></path>
							</g>
						</g>
					</svg> Rendez-vous le
					{{appointment.date|date('d-m-Y')}}
					à
					{{appointment.date|date('H:i')}}</li>
			{% endfor %}
		</ul>
		<div class="options align-self-center justify-content-between d-flex flew-row gap-2 p-3">
			<div class="dropdown">
				<button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Options
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Editer</a>
					<a class="dropdown-item" href="#">Supprimer</a>
					<a class="dropdown-item" href="{{ path('appointment') }}">Rendez-vous</a>
				</div>
			</div>
			<a class="btn btn-secondary text-light">Accéder à la fiche</a>
		</div>
	</div>
</div>
